In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from datetime import datetime as dt
from pandas_datareader import data
%matplotlib inline

In [6]:
start = "2022-01-01"
end = "2022-06-30"

In [8]:
df = data.DataReader("^N225", "yahoo", start, end)

In [9]:
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-04,29323.789062,28954.560547,29098.410156,29301.789062,66000000,29301.789062
2022-01-05,29388.160156,29204.449219,29288.800781,29332.160156,78600000,29332.160156
2022-01-06,29158.949219,28487.869141,29136.750000,28487.869141,71600000,28487.869141
2022-01-07,28813.089844,28293.699219,28711.529297,28478.560547,75200000,28478.560547
2022-01-11,28473.470703,28089.490234,28380.900391,28222.480469,73700000,28222.480469

In [12]:
df_test = data.DataReader("^N225", "yahoo", start, end)
df_test.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-04,29323.789062,28954.560547,29098.410156,29301.789062,66000000,29301.789062
2022-01-05,29388.160156,29204.449219,29288.800781,29332.160156,78600000,29332.160156
2022-01-06,29158.949219,28487.869141,29136.750000,28487.869141,71600000,28487.869141
2022-01-07,28813.089844,28293.699219,28711.529297,28478.560547,75200000,28478.560547
2022-01-11,28473.470703,28089.490234,28380.900391,28222.480469,73700000,28222.480469

In [13]:
days = 30
data = yf.Ticker('8750.T').history(period=f'{days}d')

In [14]:
data.head()

              Open    High     Low   Close   Volume  Dividends  Stock Splits
Date
2022-06-07  2740.0  2766.5  2728.5  2749.5  3381800          0             0
2022-06-08  2684.0  2697.0  2650.5  2690.0  4337900          0             0
2022-06-09  2673.0  2686.0  2633.5  2637.5  3669700          0             0
2022-06-10  2613.5  2636.0  2590.0  2598.0  4898500          0             0
2022-06-13  2565.5  2620.5  2543.0  2608.0  3646500          0             0